<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      flex-direction: column;
    }

    h1 {
      text-align: center;
    }

    #uploadForm {
      text-align: center;
      margin-top: 20px;
    }

    input[type="file"] {
      display: none;  
      width: 100%;
    }

    label {
      background-color: #3498db;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }

    #levelDropdown {
      background-color: #3f637a;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }

    #qualityInput {
      background-color: #3f637a;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }

    button {
      background-color: #2ecc71;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #progress-container {
      display: none;
      text-align: center;
      margin-top: 20px;
    }

    #progress-bar-container {
      background-color: #e0e0e0;
      border-radius: 5px;
      padding: 5px;
    }

    #progress-bar {
      background-color: #3498db;
      height: 20px;
      border-radius: 5px;
      width: 0;
    }

    #progress-status {
      margin-top: 10px;
      font-weight: bold;
    }

    #selectedFileName {
      display: block;
      margin-top: 10px;
    }

    /* Responsive Styles */
    @media screen and (max-width: 600px) {
      body {
        align-items: flex-start;
        padding: 20px;
      }

      #uploadForm {
        width: 100%;
      }

      label {
        width: 100%;
        box-sizing: border-box;
      }

      button {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <h1>File Upload Form</h1>
  <!-- <form id="uploadForm" action="/Al-amin/manager/videos/upload-to-server" method="post" enctype="multipart/form-data">
    <label for="qualityInput">Quality:</label>
    <input type="text" id="qualityInput" name="quality">
    <label for="levelDropdown">Select a Level:</label>
    <select id="levelDropdown" name="level">
    </select>
    <label for="fileInput">Choose a file</label>
    <input type="file" id="fileInput" name="video" required onchange="changename()">
    <button type="button" onclick="uploadFile()">Upload</button>
  </form> -->
  <form id="uploadForm" action="/Al-amin/manager/videos/upload-to-server" method="post" enctype="multipart/form-data">
    <label for="fileInput">Choose a file</label>
    <input type="file" id="fileInput" name="video" required onchange="changename()">
    <label for="levelDropdown">Select a Level:</label>
    <select id="levelDropdown" name="level">
      <% levels.forEach(function(level) { %>
        <% if (level?.course?.id) { %>
        <option value="<%= level.id %>"><%= level.name %> <%= level.course.name %></option>
        <% } %>
      <% }); %>
    </select>
    <label for="qualityInput">Quality:</label>
    <input type="text" id="qualityInput" name="quality">
    <button type="button" onclick="uploadFile()">Upload</button>
  </form>
  

  <div id="progress-container">
    <h2>Upload Progress:</h2>
    <div id="progress-bar-container">
      <div id="progress-bar"></div>
    </div>
    <p id="progress-status"></p>
  </div>
  <span id="selectedFileName"></span>
  <script>

    function changename() {
      // Get the file input element
      var fileInput = document.getElementById('fileInput');
      // Get the selected file
      var selectedFile = fileInput.files[0];

      // Display the selected file name
      var selectedFileNameSpan = document.getElementById('selectedFileName');
      selectedFileNameSpan.innerText = 'Selected File: ' + selectedFile.name;
    }


    function uploadFile() {
      var form = document.getElementById('uploadForm');
      var formData = new FormData(form);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/Al-amin/manager/videos/upload-to-server', true);

      xhr.upload.onprogress = function (e) {
        if (e.lengthComputable) {
          var percentComplete = (e.loaded / e.total) * 100;
          document.getElementById('progress-container').style.display = 'block';
          document.getElementById('progress-bar').style.width = percentComplete + '%';
          document.getElementById('progress-status').innerText = percentComplete.toFixed(2) + '% complete';
        }
      };

      xhr.onerror = function () {
        // Handle errors here
        alert('Error uploading file. Please try again.');
      };

      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          if (response.uploadedFile) {
            window.location.reload();
          }
        } else {
          // Handle non-200 status codes (error responses) here
          alert('Server error: ' + xhr.status);
        }
      };

      xhr.send(formData);
    }
  </script>
</body>

</html>